@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');

@import './src/components/variables.css';
@import './src/components/header.css';
@import './src/components/navbar.css';
@import './src/components/content.css';

*{
    padding: 0;
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

body{
    block-size: 100vh;
    /* overflow: hidden; */
}

body::-webkit-scrollbar {
  width: 0; /* For vertical scrollbar */
  height: 0; /* For horizontal scrollbar */
  display: none; /* In some cases, display: none might be more reliable */
}

.container{
    min-block-size: 100vh;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas: 
    "header header"
    "navbar main"
    ;
    transition: grid-template-columns 0.3s ease-in-out;
}

button{
    font-family: inherit;
}

svg{
    fill: black;
    block-size: 32px;
    inline-size: 32px;
    flex-shrink: 0;
}

.gutter{
    padding-inline: 42px;
}

.main{
    grid-area: main;
    background: var(--main-bg);
    min-block-size: 100vh;
    overflow-y: auto;
}

/* Tablet View */
@media screen and (min-width: 421px) and (max-width: 794px) {
    
    .container{
        grid-template-columns: 80px 1fr;
    }

    .link__container a{
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .link__container a span{
        display: none;
    }

    .toggler{
        display: none;
    }
}

/* Mobile View */
@media screen and (max-width: 480px) {
    
    .container{
        min-block-size: 100vh;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 64px 1fr;
        grid-template-areas: 
        "header"
        "main"
        ;
    }

    .navbar{
        inline-size: 320px;
        position: fixed;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar.show{
        inline-size: 320px;
        transform: translateX(0);
    }

    #nav__toggler{
        display: block;
    }

    .logo__menu h3{
        display: none;
    }
}
