@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');

@import './src/components/variables.css';
@import './src/components/header.css';
@import './src/components/navbar.css';
@import './src/components/content.css';

*{
    padding: 0;
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    block-size: 100%;
    overflow: hidden;
}

body{
    display: grid;
    block-size: 100%;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas: 
    "header header"
    "navbar main"
    ;
    overflow: hidden;
}

header{
    position: sticky;
    top: 0;
    grid-area: header;
    background: gainsboro;
}

button{
    font-family: inherit;
}

svg{
    fill: black;
    block-size: 32px;
    inline-size: 32px;
    flex-shrink: 0;
}

.gutter{
    padding-inline: 42px;
}

.main{
    grid-area: main;
    background: var(--main-bg);
    min-block-size: 100vh;
    overflow-y: auto;
}

@media screen and (max-width:740px) {
    
    body{
        display: grid;
        block-size: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 64px 1fr;
        grid-template-areas: 
        "header"
        "main"
        ;
        overflow: hidden;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0);
        grid-area: navbar;
        background: rgb(185, 185, 185);
        align-self: start;
        block-size: 100vh;
        inline-size: 320px;
        /* max-inline-size: 320px; */
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform 0.2s ease-in-out;
    }

    nav.translate{
        transform: translateX(0);
    }

    #nav__open{
        display: block;
    }

    #nav__close{
        display: block;
    }
}