nav{
    grid-area: navbar;
    background: rgb(185, 185, 185);
    align-self: start;
    block-size: calc(100vh - 64px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.nav__resize__container{
    background: rgb(167, 167, 255);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav__open{
    display: none;
}

#nav__close{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.link__list__container{
    list-style: none;
}

.link__container{
    background: rgb(149, 149, 255);
    list-style: none;
    display: flex;
    flex-direction: column;
}

.dropdown__toggler{
    background: greenyellow;
    inline-size: 100%;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    block-size: 100%;
    cursor: pointer;
    block-size: 2rem;
}

.dropdown__toggler:hover{
    background: rgb(91, 138, 22);
}

.dropdown__toggler svg{
    /* background: blue; */
    block-size: 24px;
    inline-size: 24px;
}

.dropdown__label{
    background: red;
    display: flex;
    align-items: center;
    inline-size: 260px;
}

.label__name{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-items: flex-start;
}

.dropdown{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.15s ease-in-out;
}

.dropdown.open{
    grid-template-rows: 1fr;
}

.dropdown_content{
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dropdown_content a{
    block-size: 2rem;
    display: flex;
    align-items: center;
    /* background: grey; */
    padding-inline-start: 78px;
}

.dropdown_content a:hover{
    background: rgb(91, 138, 22);
}

.drop__icon{
    transform: rotate(0deg);
    transition: transform 0.15s ease-in;
}